<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stoic quotes</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://db.onlinewebfonts.com/c/29e9a3f5cf847428382058f505969b17?family=Nassim+Regular" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div id="quote-box">
            <h1></h1>
            <h3></h3>
        </div>
        <img src="images/click-svgrepo-com 1 1.png" alt="">
    </div>
</body>
<script>

  function fetchData(){
    fetch('/quotes')
    .then(response => response.json())
    .then(data => {
        document.getElementsByTagName('h1')[0].innerText = data.quote
        document.getElementsByTagName('h3')[0].innerText = data.author
    });
  }

  fetchData()

  document.getElementsByTagName('img')[0].addEventListener('click', () => {
    fetchData()
  });
</script>
</html>